.passage { opacity:0;
    transition: 0s;
 /*   transition-delay:200ms; 
    -webkit-transition-delay: 200ms; */
} 
/*User progression selection*/
#choice {
    padding:0px 20px 0px 20px;
    width:100%;
}
p{overflow: hidden;}
/*Text formatting*/
p.hasInnerThought{
    position: relative;
    transition: color 0.3s;
}
p.hasInnerThought:hover {
    color: transparent;
    text-shadow: 0 0 9px rgba(255, 255, 255, 0.1);
}
span.thoughtBox{
    text-align: center;
    position: absolute;
    width: 100%;
    opacity: 0;
    color:rgb(174, 174, 174);
    text-shadow: 0 0 9px rgba(0, 0, 0, 1);
    transition:0.15s;
}
span.thoughtBox:hover{
    opacity: 1;
    text-shadow: 0 0 9px rgba(0, 0, 0, 1);
}
p.quote{
    font-style: italic;
}
#precedingPassages, #temporaryPassage {
    max-width: 54em;
    margin: 0 auto;
}
#precedingPassages a, #temporaryPassage a{
    pointer-events: none;
    cursor: default;
    text-decoration:none;
    color:gray;
}
#temporaryPassage{
    padding-bottom: 10px;
}
.option{
    display: block;
}

#passages>.passage>:nth-child(n){
    opacity: 0;
}
#temporaryPassage>.passage>:nth-child(n){
    opacity: 0;
}
/*UI Hack*/
html {
    overflow-y: scroll;
}
#ui-bar.stowed ~ #story {
    margin-left: 0;
}
#story {
    margin-left: 0;
}




/* SCROLL ICON */
.scrollIcon{
    position: fixed;    
    width: 30px;
    height: 75px;
    bottom: 40px;
    right: 50px;
    visibility: hidden;
}
  
  .chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    -webkit-animation: move-chevron 3s ease-out infinite;
            animation: move-chevron 3s ease-out infinite;
  }
  
  .chevron:first-child {
    -webkit-animation: move-chevron 3s ease-out 1s infinite;
            animation: move-chevron 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    -webkit-animation: move-chevron 3s ease-out 2s infinite;
            animation: move-chevron 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background:#6e6e6e4b;
  }
  
  .chevron:before {
    left: 0;
    -webkit-transform: skewY(30deg);
            transform: skewY(30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    -webkit-transform: skewY(-30deg);
            transform: skewY(-30deg);
  }
  
  @-webkit-keyframes move-chevron {
    25% {
      opacity: 0.8;
    }
    33.3% {
      opacity: 0.8;
      -webkit-transform: translateY(2.28rem);
              transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 0.8;
      -webkit-transform: translateY(3.12rem);
              transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(4.8rem) scale(0.5);
              transform: translateY(4.8rem) scale(0.5);
    }
  }
  
  @keyframes move-chevron {
    25% {
      opacity: 0.8;
    }
    33.3% {
      opacity: 0.8;
      -webkit-transform: translateY(2.28rem);
              transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      -webkit-transform: translateY(3.12rem);
              transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(4.8rem) scale(0.5);
              transform: translateY(4.8rem) scale(0.5);
    }
  }